@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor1: #0E496B;
    --cor2: #66BCEE;
    --cor3: #1FA1EB;
    --cor4: #2E556B;
    --cor5: #187DB8;
}
/*Design do cabeçalho com degrade*/
header{
    background-image: linear-gradient(to bottom, var(--cor2), rgb(255, 255, 255)) ;
    height: 200px;
    font-family: 'Cinzel', serif;
}
/* Centralizando o cabeçalho*/
header > h1{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
/* Centralizando o paragrafo dentro do cabeçalho*/
header > p{
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    max-width: 490px;
    line-height: 25px;
    display: block;
    margin: auto;
}
/* Centralizando a imagem dentro do cabeçalho*/
header img.yo{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    border-radius: 25px;
}
/* Design da seção*/
section#one{
    font-family: 'Cinzel', serif;
    margin-top: 360px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(90deg, white, var(--cor2), white);
    height: 100%;
}
section > h1{
    padding-top: 10px;
}
p#description{
    width: 100%;
    max-width: 650px;
    display: block;
    margin: auto;
}
/*Design da lista*/
ul{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;    
}
/* Retirando decorações de link*/
a{   
    text-decoration: none;
    color: black;
}
/* Centralizando botoes*/
ul > a{
    margin: auto;
    color: black;
    background-color: white;
}
li:hover{
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 10px;
    transition-duration: 1s;
}
/*Design de cada botão*/
li{
    padding: 6px;
    background-color: var(--cor2);
    border-radius: 10px;
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    
}
/* Design da secão 2*/
section#meditate{
    padding: 13px;
    background-color: var(--cor2);
    border-radius: 10px;
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    font-weight: normal;
    
}
section#meditate:hover{
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 10px;
    transition-duration: 1s;
}
/*Design do rodapé*/
footer{
    text-align: center;
    height: 50px;
    background-image: linear-gradient(90deg, white, var(--cor2), white);
    margin-top: 40px;
    padding-top: 10px;
}
footer > p{
    font-family: 'Cinzel';
    margin-top: 0px;
}