@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

:root{
    --cor1: #0E496B;
    --cor2: #66BCEE;
    --cor3: #1FA1EB;
    --cor4: #2E556B;
    --cor5: #187DB8;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), rgb(255, 255, 255));
    height: 90px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Cinzel;
}
.container_signup{

}
.signup_title{
    position: relative;
    top: 20px;
    font-size: 2em;
}
h1{
    text-align: center;
    margin: auto;
}
div{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 300px;
    width: 90%;
}
.section_form{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
}
label{
    margin: 5px;
}
input{
    width: 85%;
    height: 20px;
}
input[name="date"]{
    width: 110px;
}
input[name="phone"]{
    width: 110px;
}
input[type="radio"]{
    width: 20px;
    margin: 0px 8px 0px 8px;
}
button{
    margin: auto;
    transform: translate(-50%);
}